// variable
$layout-breakpoint-lg: 1024px;
$layout-breakpoint-xl: 985px;
$layout-breakpoint-small: 560px;
$image-size: 15em;
$image-decoration: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$padding-uno: 1em;
$margin-cero: 0;
